* {
  font-family: Montserrat;
  text-align: center;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 2000px;
  margin: 0 auto;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style: none;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

/* .nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.nav-item {
  list-style: none;
} */
